{% extends 'base.html.twig' %}


{% block title %}Bienvenue{% endblock %}

{% block body %}{{ parent() }}
    
    <h1 class="title">Bienvenue</h1>

    <p class="text-home">Ici vous pouvez gérer vos stocks véhicules et créer vos factures </p>
{% endblock %}