{% extends 'base.html.twig' %}


{% block title %}Bienvenue{% endblock %}

{% block body %}{{ parent() }}
    <div class="container-fluid">
    <h1 class="title">Bienvenue</h1>

    <p class="text-home">Ici vous pouvez gérer vos stocks véhicules et créer vos factures </p>
<div style="margin-left:45%; margin-top:3%; ">
    <div class="row">

    <div style="margin-right:5%;"><a href=""><button class="btn btn-outline-dark btn-lg">stock</button></a></div>
    <div><a href=""><button class="btn btn-outline-dark btn-lg">factures</button></a></div>

    </div>
</div>    
    </div>
{% endblock %}