{% extends 'base.html.twig' %}


{% block title %}Bienvenue{% endblock %}

{% block body %}{{ parent() }}
    <div class="container-fluid">
    <h1 class="title">Bienvenue</h1>

    <p class="text-home">Ici vous pouvez gérer vos stocks véhicules, vos clients et créer vos factures </p>
 <div class="text-center"><img src="{{ asset('../asset/img/trace-sinueuse.png') }}" alt="logo" class="img-logo2"></div>
 {# <img src="{{ asset('../asset/img/Autocollant_trace_de_pneu.png') }}" alt="logo" class="img-logo3"> #}
    </div>
{% endblock %}