{% extends './base.html.twig' %}


{% block title %}Nouveau Véhicule{% endblock %}

{% block body %}
    <h1 class="title">Ajouter un véhicule</h1>

    {{ include('vehicule/_form.html.twig') }}

{% endblock %}
